<div class="content ubuntu-regular">
  <div>© 2024 Rachel Tay</div>
  <div> </div>
  <div><a href="https://kr.linkedin.com/in/muprachel">LinkedIn</a></div>
  <div><a href="https://github.com/brodover/page">GitHub</a></div>
  <div class="fake-link" (click)="copyText()" (mouseover)="prepTooltip()" (mouseout)="resetTooltip()">{{ 'translations.email' | translate }}<span class="tooltip-text" [style.--visibility]="visibility">{{ tooltip }}</span></div>
  <div class="hidden"><a href="https://catshelter.azurewebsites.net/">Project</a></div>
</div>