.content {
  margin-top: 16px;
  font-size: 1.4em;;
}

.content a {
  color: #5c3e8d;
}

.fake-link {
  color: #5c3e8d;
  text-decoration: underline;
}

.fake-link:hover .tooltip-text {
  visibility: visible;
}

.fake-link .tooltip-text {
  visibility: hidden;
  width: auto;
  background-color: #adbbdaa1;
  color: #3D52A0;
  text-align: center;
  padding: 5px 10px;
  border-radius: 25px;
  font-size: 1em;
 
  position: absolute;
  margin-top: -5px;
  margin-left: 8px;
  z-index: 1;
}

.fake-link .tooltip-text::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #adbbdaa1 transparent transparent;
}