@media screen and (max-width: 799px){
  .container {
    font-size: 2vw;
    margin: 30px max(16px, 4vw) !important;
  }
  .container .grid-wrapper {
    grid-template-columns: 5ch repeat(3, 11ch) 30ch 13ch;
    grid-auto-rows: 5ch;
  }
  .container .intro-container {
    margin-top: 0px;
    grid-template-columns: 1fr;
    gap: 0px;
    padding: 0px 0px;
  }
  .center {
    margin-left:auto;
    margin-right:auto;
  }
  .container .intro {
    font-size: max(1.8em, 18px);
  }
  .container .sub-intro {
    font-size: max(1.4em, 14px);
  }
}

.container {
  margin: 25px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 700px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 30px repeat(3, 100px) 244px 100px;
  grid-auto-rows: 50px;
}

.grid-wrapper div, span {
  color: #254f81;
}

.hello-kr {
  font-size: 3.8em;
  line-height: 0.9em;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: left;
  align-items: end;
}

.name-kr {
  font-size: 5.8em;
  font-weight: bold;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.im-kr {
  font-size: 1.8em;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: left;
}

.hi {
  font-size: 5em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: right;
  align-items: end;
}

.im-name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: left;
  align-items: center;
}

.im {
  font-size: 4em;
}

.name {
  font-size: 5.5em;
}

.header-bg {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
  display: flex;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}

.header-bg img {
  object-fit: cover;
  object-fit: scale-down;
  max-width: 160%;
}

.parchment-bg {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
  background: linear-gradient(
    to bottom,
    rgba(238, 223, 191, 0) 0%,
    rgba(238, 223, 191, 1) 7%,
    rgba(238, 223, 191, 1) 100%
  );
}

.parchment {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 7;
  background: linear-gradient(
    to bottom,
    rgba(222, 216, 196, 0) 0%,
    rgba(222, 216, 196, 0.25) 7%,
    rgba(222, 216, 196, 0.25) 100%
  );
}

.intro-container {
  margin-top: 62px;
  display: grid;
  grid-template-columns: 250px auto;
  gap: 32px;
  align-items: center;
}

.intro-container img {
  object-fit: scale-down;
  max-width: 100%;
}

.intro {
  font-size: 1.6em;
}

.sub-intro {
  margin-top: 16px;
  font-size: 1.2em;
}

.about-container {
  margin-top: 16px;
}

.test {
  margin-top: 18px;
  text-align: justify;
  margin-bottom: 18px;
}