<div class="container">
  <div>
    <div class="hi-melody-regular grid-wrapper">
      <div class="parchment-bg"></div>
      <div class="header-bg">
        <img src="assets/waves.png" alt="waves">
      </div>
      <div class="parchment"></div>
      <div class="hello-kr">안녕하세요~</div>
      <div class="name-kr">레이첼</div>
      <div class="im-kr">입니다.</div>
      <div class="hi">Hi,</div>
      <div class="im-name"><span class="im">I'm</span><span class="name">&nbsp;Rachel</span><span class="im">.</span></div>
    </div>
    
  </div>
  
  <div class="intro-container">
    <img src="assets/cat-programmer.png" alt="cat-programmer">
    <div class="ubuntu-regular">
      <div class = "intro">{{ 'translations.intro1' | translate }}</div>
      <div class = "sub-intro">{{ 'translations.intro2' | translate }}</div>
    </div>
  </div>
  <div class="about-container">
    <div class="ubuntu-regular">
      <div class = "sub-intro">{{ 'translations.intro3' | translate }}</div>
    </div>
  </div>
  <div class="test ubuntu-regular">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eu pulvinar libero. Sed luctus lorem quis leo pulvinar blandit. Ut pellentesque hendrerit urna, suscipit malesuada purus faucibus luctus. In cursus ac orci vel facilisis. Pellentesque eleifend diam quis lorem dictum venenatis. Pellentesque imperdiet feugiat ex nec placerat. Duis eget nulla eget augue fringilla lobortis. Suspendisse maximus, diam id volutpat pretium, massa lorem consequat odio, nec tincidunt metus diam vitae dolor. Aliquam porta dui eu volutpat consequat. Duis aliquet pretium nibh id lacinia. Suspendisse at efficitur leo. Etiam posuere tincidunt vulputate. Phasellus commodo congue lorem, in sodales dolor molestie mollis. Fusce lorem ligula, ornare non metus id, fermentum elementum justo. Cras ac tincidunt felis, ac porttitor massa.</p>
    <p>Aenean ac mauris facilisis, pulvinar nibh vitae, dignissim leo. Sed id turpis vitae odio feugiat consectetur. Phasellus dictum lacinia facilisis. Nulla rutrum mi ac enim pretium hendrerit. Vestibulum dignissim at odio non blandit. Etiam eu pharetra tortor. Quisque feugiat sem imperdiet, scelerisque nisl ut, laoreet nisl. Etiam rutrum, mauris eget iaculis interdum, leo risus molestie purus, sed mattis lacus sapien at felis. In condimentum enim nec enim congue facilisis. Fusce sodales venenatis neque, ac elementum nunc condimentum in. Etiam vitae est et velit sollicitudin facilisis.</p>
    <p>Nunc a porttitor tortor. Duis finibus dui non enim porta, ac tristique tellus accumsan. Mauris semper ligula vel justo viverra, ac scelerisque nunc condimentum. Nullam accumsan lacus augue, id scelerisque magna volutpat eget. Proin et dolor mollis, luctus lectus sed, tincidunt neque. Sed euismod gravida justo, nec ullamcorper leo. Donec tristique quis diam vitae hendrerit. Nunc mauris leo, porta quis urna et, hendrerit pulvinar magna. Ut venenatis congue arcu aliquam consequat. Nam a interdum ex. Ut condimentum diam in massa accumsan efficitur. Nam libero nunc, euismod quis pretium sit amet, porttitor id ligula. Sed commodo consequat augue, nec porta quam tincidunt id.</p>
  </div>
</div>
