<div class="container">
  <div>
    <div class="hi-melody-regular grid-wrapper">
      <div class="parchment-bg"></div>
      <div class="header-bg">
        <img src="assets/waves.png" alt="waves">
      </div>
      <div class="parchment"></div>
      <div class="hello-kr">안녕하세요~</div>
      <div class="name-kr">레이첼</div>
      <div class="im-kr">입니다.</div>
      <div class="hi">Hi,</div>
      <div class="im-name"><span class="im">I'm</span><span class="name">&nbsp;Rachel</span><span class="im">.</span></div>
    </div>
    
  </div>
  
  <div class="intro-container">
    <img src="assets/cat-programmer.png" alt="cat-programmer">
    <div class="ubuntu-regular">
      <div class = "intro">{{ 'translations.intro1' | translate }}</div>
      <div class = "sub-intro">{{ 'translations.intro2' | translate }}</div>
    </div>
  </div>
  <div class="about-container">
    <div class="ubuntu-regular">
      <div class = "sub-intro">{{ 'translations.intro3' | translate }}</div>
    </div>
  </div>
  <div class="test ubuntu-regular">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sapien eget magna finibus facilisis nec semper enim. Aliquam erat volutpat. Aenean augue magna, ornare eu risus non, pretium sodales augue. Maecenas in urna maximus, ullamcorper dolor sed, ultricies lorem. Ut accumsan maximus ante id congue. Curabitur semper nibh eget est tempor vehicula. Maecenas ultrices nisi in metus efficitur, sit amet pharetra tellus faucibus. Integer suscipit molestie fermentum. Vestibulum convallis viverra blandit. Fusce aliquet libero in nulla lobortis, non cursus sem imperdiet. Mauris et orci dapibus, sagittis sapien sit amet, congue elit. Etiam eget neque aliquam, lobortis nibh quis, iaculis neque. Nunc porttitor vel quam vel efficitur. Suspendisse potenti.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sapien eget magna finibus facilisis nec semper enim. Aliquam erat volutpat. Aenean augue magna, ornare eu risus non, pretium sodales augue. Maecenas in urna maximus, ullamcorper dolor sed, ultricies lorem. Ut accumsan maximus ante id congue. Curabitur semper nibh eget est tempor vehicula. Maecenas ultrices nisi in metus efficitur, sit amet pharetra tellus faucibus. Integer suscipit molestie fermentum. Vestibulum convallis viverra blandit. Fusce aliquet libero in nulla lobortis, non cursus sem imperdiet. Mauris et orci dapibus, sagittis sapien sit amet, congue elit. Etiam eget neque aliquam, lobortis nibh quis, iaculis neque. Nunc porttitor vel quam vel efficitur. Suspendisse potenti.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis sapien eget magna finibus facilisis nec semper enim. Aliquam erat volutpat. Aenean augue magna, ornare eu risus non, pretium sodales augue. Maecenas in urna maximus, ullamcorper dolor sed, ultricies lorem. Ut accumsan maximus ante id congue. Curabitur semper nibh eget est tempor vehicula. Maecenas ultrices nisi in metus efficitur, sit amet pharetra tellus faucibus. Integer suscipit molestie fermentum. Vestibulum convallis viverra blandit. Fusce aliquet libero in nulla lobortis, non cursus sem imperdiet. Mauris et orci dapibus, sagittis sapien sit amet, congue elit. Etiam eget neque aliquam, lobortis nibh quis, iaculis neque. Nunc porttitor vel quam vel efficitur. Suspendisse potenti.</p>
  </div>
</div>
