<div class="content ubuntu-regular">
  <div class="title">
    {{ 'translations.reason_title' | translate }}
  </div>
  <div>
    {{ 'translations.reason_intro' | translate }}
  </div>
  <div class="container">
    <img src="assets/cat-programmer.png" alt="cat-programmer">
    <div>
      <div>{{ 'translations.reason1' | translate }}</div>
    </div>
  </div>
  <div class="container">
    <img src="assets/cat-programmer.png" alt="cat-programmer">
    <div>
      <div>{{ 'translations.reason2' | translate }}</div>
    </div>
  </div>
  <div class="container">
    <img src="assets/cat-programmer.png" alt="cat-programmer">
    <div>
      <div>{{ 'translations.reason3' | translate }}</div>
    </div>
  </div>
</div>