.language-bar {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  background-color: #95b1f6d6;
  backdrop-filter: blur(3px);
  padding: 0px 14px;
  position: absolute;
  top: 4px;
  right: 0px;
  opacity: var(--opacity);
}

.language-bar a {
  padding: 12px 0px 12px 0px;
  font-size: 0.7em;
}