@media screen and (max-width: 799px){
  .language-bar span {
    font-size: max(0.6em, 10px);
  }
}

.language-bar {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  background-color: #85AADCd6;
  backdrop-filter: blur(3px);
  padding: 0px 14px;
  position: absolute;
  top: 4px;
  right: 0px;
  opacity: var(--opacity);
  cursor: pointer;
  font-size: 0.7em;
}

.language-bar span {
  padding: 12px 0px 12px 0px;
}