<div>
  <div class="background-anim"></div>
  <div class="background-layer">
    <main>
      <div class="non-footer-wrapper">
        <app-top-bar class="topbar sticky"></app-top-bar>
          
        <div class="lang-switch">
          <app-lang-switch class="sticky"></app-lang-switch>
        </div>
        
        <div class="container">
          <router-outlet></router-outlet>
        </div>
      </div>
      <app-footer class="footer"></app-footer>
    </main>
  </div>
</div>

