.background-anim {
  position: fixed;
  min-height: 70vh;
  width: 100%;
  background-color: #fff;
  background-image: 
    radial-gradient(at top left, #f0ace0ce, #a7d3f2d3),
    radial-gradient(at bottom right, #a7d3f2d3, #ffa4b2de);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: gradient-animation 6s ease infinite;
}

.background-layer {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to bottom, 
    rgb(188, 167, 238, 0) 0vh, 
    rgb(188, 167, 238, .30) 40vh, 
    rgb(188, 167, 238, .70) 55vh, 
    rgb(188, 167, 238) 69vh);
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.sticky {
  position: sticky;
}

.topbar {
  top: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.lang-switch {
  position: absolute;
  top: 24px;
  right: 24px;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
}