* {
    font-family: 'Roboto', Arial, sans-serif;
    color: #26293A;  
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hi-melody-regular div, .hi-melody-regular span, .hi-melody-regular a, .hi-melody-regular p {
  font-family: "Hi Melody", sans-serif;
  font-style: normal;
  font-size: 100%;
}

.ubuntu-regular div, .ubuntu-regular span, .ubuntu-regular a, .ubuntu-regular p {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  line-height: 1.45em;
  font-size: 100%;
}

body {
    margin: 0px;
}

main {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: inherit;
  position: relative;
}

/*
EDE8F5 background
ADBBDA light grey
8697C4 dark grey
7091E6 light blue
3D52A0 dark blue
26293A text
*/