.container {
  margin: 30px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container div, span {
  color: #3D52A0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 100px) repeat(2, 244px);
  grid-auto-rows: 50px;
}

.hello-kr {
  font-size: 72px;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: center;
  align-items: end;
}

.name-kr {
  font-size: 100px;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.im-kr {
  font-size: 45px;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: left;
}

.hi {
  font-size: 80px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: right;
  align-items: end;
}

.im-name {
  font-size: 60px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: left;
  align-items: center;
}

.name {
  font-size: 80px;
}

.intro-container {
  margin-top: 62px;
  display: grid;
  grid-template-columns: 250px 3fr;
  gap: 32px;
  align-items: center;
}

img.image {
  object-fit: scale-down;
  max-width: 100%;
}

.intro {
  font-size: 40px;
}

.sub-intro {
  font-size: 32px;
}

.test {
  margin-top: 62px;
  text-align: justify;
  margin-bottom: 28px;
}