.container {
  margin: 30px 62px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 100%;
}

@media screen and (max-width: 799px){
  .container {
    font-size: 2vw;
    margin: 30px 6px;
  }
  .container .grid-wrapper {
    grid-template-columns: 3ch repeat(3, 11ch) 30ch 11ch;
    grid-auto-rows: 5ch;
  }
  .container .intro-container {
    grid-template-columns: 1fr;
    padding: 0px 20px;
  }
  img.image {
    display: none;
  }
  .container .intro {
    font-size: max(2.3em, 25px);
  }
  .container .sub-intro {
    font-size: max(1.5em, 20px);
  }
}

.container div, span {
  color: #3D52A0;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 30px repeat(3, 100px) 244px 100px;
  grid-auto-rows: 50px;
}

.hello-kr {
  font-size: 3.6em;
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  justify-content: left;
  align-items: end;
}

.name-kr {
  font-size: 6em;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 3;
  grid-row-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.im-kr {
  font-size: 1.8em;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: left;
}

.hi {
  font-size: 5em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  justify-content: right;
  align-items: end;
}

.im-name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  justify-content: left;
  align-items: center;
}

.im {
  font-size: 4em;
}

.name {
  font-size: 5.5em;
}

.intro-container {
  margin-top: 62px;
  display: grid;
  grid-template-columns: 250px minmax(auto, 700px);
  gap: 32px;
  align-items: center;
}

img.image {
  object-fit: scale-down;
  max-width: 100%;
}

.intro {
  font-size: 2em;
}

.sub-intro {
  margin-top: 16px;
  font-size: 1.4em;
}

.about-container {
  margin-top: 16px;
}

.test {
  margin-top: 32px;
  text-align: justify;
  margin-bottom: 28px;
}