<div class="container">
  <div class="hi-melody-regular grid-wrapper">
    <div class="hello-kr">안녕하세요~</div>
    <div class="name-kr">레이첼</div>
    <div class="im-kr">입니다.</div>
    <div class="hi">Hi,</div>
    <div class="im-name"><span class="im">I'm</span><span class="name">&nbsp;Rachel</span><span class="im">.</span></div>
  </div>
  <div class="intro-container">
    <img src="assets/cat-programmer.png" class="image" alt="image">
    <div class="hi-melody-regular">
      <div class = "intro">I'm a Software Developer from Singapore, currently living in Seoul, South Korea.</div>
      <div class = "sub-intro">Since graduating from the National University of Singapore's School of Computing in 2011,
        I've worked 4 years in Singapore 🇸🇬
        - making Facebook games, mobile apps for both Android and iOS, and educational Flash games;
      and 6 years in Seoul 🇰🇷
        - making Unity mobile games on both Client and Server side.</div>
    </div>
  </div>
  <div class="test">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel viverra augue. Praesent dui ligula, varius sit amet euismod nec, lobortis sit amet massa. Etiam sed dignissim tortor. Cras nec sem eget leo vehicula ornare. Donec commodo lacinia cursus. Sed iaculis libero sed quam varius hendrerit. Proin turpis nisl, tristique et venenatis id, gravida nec nisi. Mauris id viverra velit. Duis in eros et dui finibus vehicula. Fusce elit nisi, rhoncus at lectus nec, gravida cursus velit. Sed augue turpis, commodo ut velit at, rhoncus varius ante. Integer convallis augue sit amet cursus accumsan. Suspendisse potenti. Nunc nec odio tortor.

Phasellus dui arcu, malesuada ut orci et, molestie ultricies sem. Donec commodo dolor nibh, sed tristique nisi elementum eget. Donec lobortis semper arcu et pulvinar. Nunc sollicitudin efficitur laoreet. Integer in condimentum purus, vitae ornare ante. Donec at consequat leo, at iaculis nulla. Quisque pharetra lorem quis faucibus ultrices. Aenean fringilla tortor a mi gravida, a gravida arcu ornare.

Mauris a nulla vel urna blandit eleifend. Nam consectetur semper metus. Curabitur suscipit ac libero ac mattis. Ut in auctor odio. Integer eleifend, ex nec lacinia pretium, nisi mauris lobortis augue, eu pulvinar lectus ligula eget ante. Ut nec efficitur tellus. Aliquam euismod sollicitudin fringilla. Nullam ut purus quam. Donec ipsum nibh, venenatis et malesuada ac, semper vel turpis. Nullam eu nibh cursus, dignissim augue id, cursus massa. Donec laoreet ipsum et auctor convallis. Aenean volutpat lectus consequat, rutrum orci a, aliquet elit. Mauris ultricies accumsan sapien, sed laoreet lacus ornare et. Praesent eget velit sit amet odio consectetur viverra. Maecenas leo metus, feugiat non justo nec, feugiat maximus urna.

Vestibulum pulvinar a ante id sagittis. Curabitur felis felis, bibendum et mattis ac, pharetra nec est. Donec at diam nunc. Quisque a tellus ipsum. Aenean tellus dolor, dictum suscipit magna in, volutpat faucibus nunc. Donec dapibus est vitae suscipit consequat. Sed in rutrum mauris. Cras pulvinar euismod sem, at rutrum nisi posuere non. Mauris pulvinar, felis condimentum condimentum sollicitudin, elit tortor condimentum leo, et laoreet lectus purus et nunc. Suspendisse at tortor arcu. In hac habitasse platea dictumst. Suspendisse egestas tellus sit amet sollicitudin dignissim. Ut vitae orci eget lectus ornare vulputate sit amet condimentum justo. Sed aliquam sit amet dui non porta. Donec accumsan, tortor at faucibus varius, risus quam cursus tellus, sed iaculis elit leo vitae urna.

Curabitur fringilla blandit mi, non dignissim metus molestie et. Cras viverra urna ante, venenatis convallis sem porttitor at. Fusce ac sapien a tortor elementum convallis. Maecenas pretium vestibulum diam nec commodo. Duis egestas lacinia pulvinar. Praesent dictum metus ligula, nec euismod ipsum egestas quis. Duis lacinia ligula non fringilla pharetra. Etiam placerat nulla vel est vestibulum, id tincidunt urna consectetur. Nulla vel dolor suscipit, sagittis orci eget, scelerisque nisi. Praesent aliquam rutrum nulla, at lacinia arcu facilisis elementum. Nunc eu libero eros. Sed congue elit vel mauris ultrices commodo. Vivamus eget faucibus lacus. Fusce mauris quam, efficitur vel tellus a, finibus imperdiet neque.
  </div>
    
</div>
