.navbar {
  z-index: 4;
}

.navbar-common {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 14px;
}

.navbar-common a, .navbar-common span {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Navbar links */
.navbar-common a {
  color: #5c3e8d;
  /*color: #ADBBDA*/;
  font-weight: 300;
}

.navbar-common a.active {
  /*color: #26293A;*/
  color: #3D52A0;
  font-weight: 600;
}

.navbar-spacer {
  padding: 8px 4px;
}

.navbar-text {
  padding: 6px 10px;
}

.navbar-text-hover {
  border-radius: 25px;
  overflow: hidden;
  background-color: #adbbdaa1;
}

.navbar-disappear {
  position: absolute;
  background-color: #95b1f6d6;
  backdrop-filter: blur(3px);
  z-index: 3;
  opacity: var(--opacity);
}

.navbar-disappear span {
  color: #95b1f6d6;
}