.navbar {
  z-index: 4;
}

.navbar-common {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 14px;
}

.navbar-common a, .navbar-common span {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

/* Navbar links */
.navbar-common a {
  color: #5B569F;
}

.navbar-common a.active {
  color: #254f81;
  font-weight: bold;
}

.navbar-spacer {
  padding: 8px 4px;
}

.navbar-text {
  padding: 6px 10px;
}

.navbar-text-hover {
  border-radius: 25px;
  overflow: hidden;
  background-color: #9FBDE3a1;
}

.navbar-disappear {
  position: absolute;
  background-color: #6C97D4d6;
  backdrop-filter: blur(3px);
  z-index: 3;
  opacity: var(--opacity);
}

.navbar-disappear span {
  color: #6C97D4d6;
}