<div class="navbar-common navbar-disappear" [style.--opacity]="opacity">
  <div class="navbar-spacer"><div class="navbar-text">
    <span>{{ work }}</span>
  </div></div>
  <div class="navbar-spacer"><div class="navbar-text">
    <span>{{ personal }}</span>
  </div></div>
</div>
<div class="navbar-common navbar">
  <div class="navbar-spacer"><div class="navbar-text" appHoverClass="navbar-text-hover">
    <a routerLink="/" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">{{ work }}</a>
  </div></div>
  <div class="navbar-spacer"><div class="navbar-text" appHoverClass="navbar-text-hover">
    <a routerLink="/personal" routerLinkActive="active">{{ personal }}</a>
  </div></div>
</div>