.navbar {
  z-index: 4;
}

.navbar-common {
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  padding: 0px 14px;
}

/* Navbar links */
.navbar a {
  color: #EDE8F5;
}

.navbar-common a, .navbar-common span {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  color: #26293A;
}

.navbar-spacer {
  padding: 8px 4px;
}

.navbar-text {
  padding: 6px 10px;
}

.navbar-text-hover {
  border-radius: 25px;
  overflow: hidden;
  background-color: #adbbdaa1;
}

.navbar-disappear {
  position: absolute;
  background-color: #7091e6ec;
  z-index: 3;
  opacity: var(--opacity);
}

.navbar-disappear span {
  color: #7091e6ec;
}